<div class="navbar navbar-expand-sm navbar-light navbar-lewagon shadow-lg sticky-top p-3 mb-5 bg-body rounded" data-controller ="activepage" >
  <div class="container" data-action= "click->activepage#toggleSelection">
    <%= link_to root_path, class: "navbar-brand" do %>
      <span>Martin Kevin</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Home", "#home", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", "#about", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Skills", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Services", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Portfolio", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", "#", class: "nav-link" %>
          </li>
      </ul>
    </div>
    <%= link_to "mailto:martinkevingapie@gmail.com", class: "navbar-email" do %>
      <span>martinkevingapie@gmail.com</span>
    <% end %>
  </div>
</div>
