<div class="container">
  <section id="home" class="d-md-flex flex-md-row-reverse justify-content-md-center align-items-md-center">
    <div class="home-portrait mx-2">
      <img src="<%= image_path('mkgapie.jpg') %>" alt="Martin Kevin Gapie" class="">
    </div>
    <div class="headline m-4">
      <h2 class="name">Martin Kevin <br> Gapie</h2>
      <span>Full-stack Developer</span>
      <p class = "text-justify">Passionate full-stack developer and computer scientist <br>I enjoy coding websites</p>
      <br>
      <%= link_to "Get in touch", "#contact" , class: "button-standard " %>
    </div>
    <div class="social d-md-flex flex-md-column m-4 justify-content-md-center">
      <%= link_to "https://www.github.com/martinkevin01", class: "social-item text-decoration-none" , target: "_blank" do %>
      <i class="uil uil-github-alt"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/martinkevin01", class: "social-item text-decoration-none", target: "_blank" do %>
      <i class="uil uil-linkedin-alt"></i>
      <% end %>
      <%= link_to "https://www.twitter.com/martinkevin01", class: "social-item text-decoration-none" , target: "_blank" do %>
      <i class="uil uil-twitter-alt"></i>
      <% end %>
    </div>
  </section>
  <br>
  <br>
  <section id="about">
    <h2 class="fw-bold text-center">About Me</h2>
    <br><br>
    <div class="about-section d-md-flex justify-content-md-center">
      <div class="about-portrait ">
        <img src="<%= image_path('mkgapie1.jpg') %>" alt="Martin Kevin Gapie" class="">
      </div>
      <div class="description m-4">
        <div class="experiences d-md-flex">
          <div class="rounded-card rounded-circle shadow mx-3 text-center ">
            <i class="about-icon fa-solid fa-trophy"></i>
            <h4 class="m-0">Experiences</h4>
            <span>1+ year</span>
          </div>
          <div class="rounded-card rounded-circle shadow mx-3 text-center">
            <i class="about-icon fa-solid fa-diagram-project"></i>
            <h4 class="m-0">Projects</h4>
            <span>1+ year</span>
          </div>
          <div class="rounded-card rounded-circle shadow mx-3 text-center">
            <i class="about-icon fa-solid fa-users"></i>
            <h4 class="m-0">Manager</h4>
            <span>1+ year</span>
          </div>

        </div>
        <br>
        <p class="text-justify ">Computer scientist with a bachelor's degree, I broadened my skills by
          <br> embarking on intensive full-stack web development bootcamp at <br> <a
            href="https://www.lewagon.com/fr/montreal"> le wagon</a> in Montreal</p>
        <br>
        <%= link_to "Download CV", download_path, target: "_blank" , class: "button-standard"%>

      </div>
    </div>
  </section>
  <br><br><br>

  <section id="skills">
    <h2 class="fw-bold text-center">Skills</h2>
    <h4 class=" text-center">Stacks I use</h4>
    <br><br>
    <div class="stacks-section">
      <div >
        <a href="https://www.ruby-lang.org/fr/" target="_blank"> <img src="<%= image_path('skills/ruby.svg') %>" class="m-4 "
            alt="ruby"></a>
        <a href="https://rubyonrails.org/" target="_blank"> <img src="<%= image_path('skills/rails.svg') %>" class="m-4 "
            alt="rails"></a>
        <a href="https://www.javascript.com/" target="_blank"> <img src="<%= image_path('skills/js.svg') %>" class="m-4 "
            alt="javascript"></a>
        <a href="https://stimulus.hotwired.dev/" target="_blank"> <img src="<%= image_path('skills/stimulus.svg') %>"
            class="m-3 " alt="stimulus js"></a>
        <a href="https://www.w3schools.com/html/" target="_blank"> <img src="<%= image_path('skills/html.svg') %>" class="m-4 "
            alt="html"></a>
        <a href="https://www.w3schools.com/css/" target="_blank"> <img src="<%= image_path('skills/css.svg') %>" class="m-4 "
            alt="css"></a>
        <a href="https://sass-lang.com/" target="_blank"> <img src="<%= image_path('skills/sass.svg') %>" class="m-4 "
            alt="sass"></a>
        <a href="https://getbootstrap.com/" target="_blank"> <img src="<%= image_path('skills/bootstrap.svg') %>" class="m-4 "
            alt="bootstrap"></a>
        <a href="https://www.figma.com/fr/" target="_blank"> <img src="<%= image_path('skills/figma.svg') %>" class="m-4 "
            alt="figma"></a>
        <a href="https://www.w3schools.com/sql/" target="_blank"> <img src="<%= image_path('skills/sql.svg') %>" class="m-4 "
            alt="sql"></a>
        <a href="https://www.postgresql.org/" target="_blank"> <img src="<%= image_path('skills/postgre.svg') %>" class="m-4 "
            alt="postgre"></a>
        <a href="https://git-scm.com/" target="_blank"> <img src="<%= image_path('skills/git.svg') %>" class="m-4 "
            alt="git"></a>
        <a href="https://github.com/" target="_blank"> <img src="<%= image_path('skills/github.svg') %>" class="m-4 "
            alt="github"></a>
        <a href="https://www.heroku.com/" target="_blank"> <img src="<%= image_path('skills/heroku.svg') %>" class="m-4 "
            alt="heroku"></a>

      </div>
    </div>
    <br><br><br>
    <h4 class=" text-center">Manager</h4>
    <div class="manager-section d-md-flex justify-content-md-around flex-md-wrap">

      <div class="management-skills d-md-flex flex-md-column">
        <img src="<%= image_path('skills/trello.svg') %>" class="m-3 " alt="trello">
        <h5 class="text-center fw-bold">Trello</h5>
      </div>

      <div class="management-skills d-md-flex flex-md-column">
        <img src="<%= image_path('skills/communication.svg') %>" class="m-3 " alt="communication">
        <h5 class="text-center fw-bold">Communication</h5>
      </div>

      <div class="management-skills d-md-flex flex-md-column">
        <img src="<%= image_path('skills/leadership.svg') %>" class="m-3 " alt="Leadership">
        <h5 class="text-center fw-bold">Leadership</h5>
      </div>

    </div>
  </section>
  <br><br><br><br>

  <section id="services">
    <h2 class="fw-bold text-center">My Services</h2>
    <h4 class=" text-center">What I offer</h4>
    <br><br>
    <div class="services-section d-md-flex justify-content-md-around">
      <div class="services-developer-section border shadow ">
        <div class="text-center">
          <i class="fa-solid fa-code services-icon m-4"></i>
          <h2>Web Developper</h2>
        </div>
        <ul class="list-unstyled m-4 ">
          <li> <i class="uil uil-check-circle"></i> Understand your need</li>
          <li><i class="uil uil-check-circle"></i> Design Skeleton</li>
          <li><i class="uil uil-check-circle"></i> User flow and user story experience</li>
          <li><i class="uil uil-check-circle"></i> UI/UX services</li>
        </ul>
      </div>

      <div class="services-manager-section border shadow ">
        <div class="manager-section-header text-center">
          <i class="fa-solid fa-list-check services-icon m-4"></i>
          <h2>Manager</h2>
        </div>
        <ul class="list-unstyled m-4 ">
          <li> <i class="uil uil-check-circle"></i> Establish a deliver estimation</li>
          <li><i class="uil uil-check-circle"></i> Understanding the product</li>
          <li><i class="uil uil-check-circle"></i> Communication between parts</li>
          <li><i class="uil uil-check-circle"></i> Respecting the initial project</li>
          <li><i class="uil uil-check-circle"></i> Deliver on time</li>
        </ul>
      </div>
    </div>
    <div class="text-center m-5">
      <%= link_to "Get in touch", "#contact" , class: "button-standard" %>
    </div>

  </section>
  <br><br>
  <section id="portfolio">

    <h2 class="fw-bold text-center">Portfolio</h2>
    <h4 class=" text-center">My Projects</h4>
    <br><br>
    <div class="portfolio-section d-md-flex justify-content-md-around flex-md-wrap">
      <div class="portfolio-card rounded border border-2 shadow my-4">
        <a href="https://www.cineselect.net/" target="_blank"> <img src="<%= image_path('projects/cineselect_preview.jpeg') %>"
            class="my-4" alt="cineselect"></a>
         <a href="https://www.cineselect.net/" target="_blank" class="text-decoration-none d-flex text-dark">
            <h5 class="ms-4 mb-0">Cineselect</h5>
            <i class=" arrow uil uil-arrow-right"></i>
         </a>
         <small class="ms-4">Mobile designed app</small>
        <div class="social mx-4">
          <%= link_to "https://github.com/LuuNa-JD/cineselect", class: "social-item text-decoration-none" , target: "_blank" do %>
          <i class="uil uil-github-alt"></i>
          <% end %>
          <%= link_to " https://lnkd.in/eUdriCrG", class: "social-item text-decoration-none mx-2", target: "_blank" do %>
          <i class="uil uil-linkedin-alt"></i>
          <% end %>
          <%= link_to "https://www.youtube.com/watch?v=dF_PQLjHuqY&t=634s", class: "social-item text-decoration-none mx-2", target: "_blank" do %>
          <i class="uil uil-youtube"></i>
          <% end %>
        </div>
      </div>


      <div class="portfolio-card rounded border border-2 shadow my-4">
        <img src="<%= image_path('projects/monstermarket.png') %>" class="my-4" alt="monstermarket">
        <h5 class="mx-4">Monstermarket</h5>
        <div class="social mx-4">
          <%= link_to "https://github.com/LuuNa-JD/monsters_market", class: "social-item text-decoration-none" , target: "_blank" do %>
          <i class="uil uil-github-alt"></i>
          <% end %>
        </div>
      </div>


      <div class="portfolio-card rounded border border-2 shadow my-4">
        <img src="<%= image_path('projects/watchlist_preview.png') %>" class="my-4" alt="watchlist">
        <h5 class="mx-4">Watchlist</h5>
        <div class="social mx-4">
          <%= link_to "https://github.com/martinkevin01/rails-watch-list", class: "social-item text-decoration-none" , target: "_blank" do %>
          <i class="uil uil-github-alt"></i>
          <% end %>
        </div>
      </div>

      <div class="portfolio-card rounded border border-2 shadow my-4">
        <img src="<%= image_path('add.svg') %>"
            class="my-4" alt="plus">
            <p class="mx-4">Currently working on <b>Loctogo</b> </p>

      </div>


    </div>


  </section>

  <br><br><br>

  <section id="contact">
    <h2 class="fw-bold text-center">Contact</h2>
    <h4 class=" text-center">Get in touch</h4>
    <br><br>
    <div class="contact-section d-md-flex justify-content-md-center">
      <%= render "contacts/new" %>

  </section>
  <br><br><br>
</div>
