<div class="container">
  <section id="home" class="d-lg-flex flex-row-reverse justify-content-lg-center ">
    <div class="home-portrait m-5">
      <img src="<%= image_path('mkgapie.jpeg') %>" alt="Martin Kevin Gapie" class="pb-5">
    </div>
    <div class="headline m-5">
      <h2 class="name">Martin Kevin <br> Gapie</h2>
      <span>Full-stack Developer</span>
      <p>Passionate full-stack developer and computer scientist, <br> I enjoy coding tech websites</p>
      <br>
      <%= link_to "Get in touch", "https://www.google.com" , class: "button-standard " %>
    </div>
    <div class="social d-flex flex-column m-5 justify-content-center">
      <%= link_to "https://www.github.com/martinkevin01", class: "social-item text-decoration-none" , target: "_blank" do %>
      <i class="uil uil-github-alt"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/martinkevin01", class: "social-item text-decoration-none", target: "_blank" do %>
      <i class="uil uil-linkedin-alt"></i>
      <% end %>
      <%= link_to "https://www.twitter.com/martinkevin01", class: "social-item text-decoration-none" , target: "_blank" do %>
      <i class="uil uil-twitter-alt"></i>
      <% end %>
    </div>
  </section>
  <br>
  <br>
  <section id="about">
    <h2 class="fw-bold text-center">About Me</h2>
    <br><br>
    <div class="about-section d-lg-flex justify-content-lg-center">
      <div class="about-portrait m-5">
        <img src="<%= image_path('mkgapie.jpeg') %>" alt="Martin Kevin Gapie" class="pb-5">
      </div>
      <div class="description m-5">
        <div class="experiences d-sm-flex ">
          <div class="rounded-card rounded-circle shadow mx-3 text-center ">
            <i class="about-icon fa-solid fa-trophy"></i>
            <h4>Experiences</h4>
            <span>1+ year</span>
          </div>
          <div class="rounded-card rounded-circle shadow mx-3 text-center">
            <i class="about-icon fa-solid fa-diagram-project"></i>
            <h4>Projects</h4>
            <span>1+ year</span>
          </div>
          <div class="rounded-card rounded-circle shadow mx-3 text-center">
            <i class="about-icon fa-solid fa-users"></i>
            <h4>Manager</h4>
            <span>1+ year</span>
          </div>

        </div>
        <br>
        <p>Computer scientist with a master's degree, I broadened my skills <br>
          by embarking on intensive full-stack web development bootcamp <br> at <a
            href="https://www.lewagon.com/fr/montreal"> le wagon</a> in Montreal</p>
        <br>
        <%= link_to "Download CV", download_path, target: "_blank" , class: "button-standard"%>

      </div>
    </div>
  </section>
  <br><br><br>

  <section id="skills">
    <h2 class="fw-bold text-center">Skills</h2>
    <h4 class=" text-center">Stacks I use</h4>
    <br><br>
    <div class="stacks-section">
    <a href="https://www.ruby-lang.org/fr/" target="_blank"> <img src="<%= image_path('ruby.svg') %>" class="m-3 " alt="ruby"></a>
    <a href="https://rubyonrails.org/" target="_blank"> <img src="<%= image_path('rails.svg') %>" class="m-3 " alt="rails"></a>
    <a href="https://www.javascript.com/" target="_blank"> <img src="<%= image_path('js.svg') %>" class="m-3 " alt="javascript"></a>
    <a href="https://stimulus.hotwired.dev/" target="_blank"> <img src="<%= image_path('stimulus.svg') %>" class="m-3 " alt="stimulus"></a>
    <a href="https://www.w3schools.com/html/" target="_blank"> <img src="<%= image_path('html.svg') %>" class="m-3 " alt="html"></a>
    <a href="https://www.w3schools.com/css/" target="_blank"> <img src="<%= image_path('css.svg') %>" class="m-3 " alt="css"></a>
    <a href="https://sass-lang.com/" target="_blank"> <img src="<%= image_path('sass.svg') %>" class="m-3 " alt="sass"></a>
    <img src="<%= image_path('bootstrap.svg') %>" class="m-3 " alt="bootstrap">
    <img src="<%= image_path('figma.svg') %>" class="m-3 " alt="figma">
    <img src="<%= image_path('sql.svg') %>" class="m-3 " alt="sql">
      <img src="<%= image_path('postgre.svg') %>" class="m-3 " alt="postgre">
      <img src="<%= image_path('git.svg') %>" class="m-3 " alt="git">
      <img src="<%= image_path('github.svg') %>" class="m-3 " alt="github">
      <img src="<%= image_path('heroku.svg') %>" class="m-3 " alt="heroku">

    </div>
    <br><br><br>
    <h4 class=" text-center">Manager</h4>
    <div class="manager-section d-lg-flex justify-content-around">

      <div class="management-skills d-lg-flex flex-column">
        <img src="<%= image_path('trello.svg') %>" class="m-3 " alt="trello">
        <h5 class="text-center fw-bold">Trello</h5>
      </div>

      <div class="management-skills d-lg-flex flex-column">
        <img src="<%= image_path('communication.svg') %>" class="m-3 " alt="communication">
        <h5 class="text-center fw-bold">Communication</h5>
      </div>

      <div class="management-skills d-lg-flex flex-column">
        <img src="<%= image_path('leadership.svg') %>" class="m-3 " alt="Leadership">
        <h5 class="text-center fw-bold">Leadership</h5>
      </div>

    </div>
  </section>
  <br><br><br><br>

  <section id="services">
    <h2 class="fw-bold text-center">Services</h2>
    <h4 class=" text-center">What I offer</h4>
    <br><br>
    <div class="developer-section">
    <i class="uil uil-web-grid services__icons"></i>
    <h2>Web Developper</h2>
    <ul>
    <li>Understand your need</li>
    <li>Design Skeleton</li>
    <li>User flow and user story experience</li>
    <li>UI/UX services</li>
    </ul>
    </div>

  </section>

</div>
